{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .allskills{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        top:150px;
        text-align: center;
        justify-content: space-around;
        padding: 30px;
    }
    .allskills .title2{
        font-size: 80px;
        padding-bottom: 130px;
    }
    .allskills ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
    .allskills ul li{
        height: 450px;
        width: 300px;
        margin: 20px;
        padding: 20px;
        list-style: none;
        overflow: hidden;
    }
    .allskills ul li img{
        height: 300px;
        width: 300px;   
    }
    .allskills ul li a{
        text-decoration: none;
        color: black;
    }
    .allskills ul li:active,
    .allskills ul li:hover{
        box-shadow: 0 0 10px 6px rgba(0,0,0,0.3);
    }
    .allskills ul li:active,
    .allskills ul li:hover img{
        filter: invert(100%);
    }
    .allskills ul li:active,
    .allskills ul li:hover .skillname{
        font-size: 25px;
        text-decoration: underline;
    }
    .quote{
        font-family: cursive;
        padding-top: 20px;
        font-size: 15px;
    }
</style>
<section class="allskills">
    <h1 class="title2">All Skills</h1>
        <ul>
            {% for skill in skills %}
            <li>
                <a href="{% url 'singleskill' skill.id %}"><img src="{{skill.skillimage.url}}" alt=""></a>
                <h1 class="skillname"><a href="{% url 'singleskill' skill.id %}">{{skill.skillname|upper}}</a></h1>
                <h2 class="quote">{{skill.skillquote}}</h2>
            </li>
            {% endfor %}
        </ul>
</section>
<br>
<br>
{% endblock %}