{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block intro %}
    {% include 'myprofile/intro.html'%}
    {% endblock intro %}
    <br>
    {% block skills %}
    <style>
        .skillsection{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        .skillsection ul{
            width: 100%;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around;
        }
        .skillsection ul li{
            text-align: center;
            list-style: none;
            height: 550px;
            width: 450px;
            overflow: hidden;
            margin: 10px;
            padding: 10px;
        }
        .skillsection ul li img{
            width: 300px;
            height: 300px;
            padding-top: 40px;
        }
        .skillsection ul li a{
            text-decoration: none;
            color: black;
            padding: 10px;
        }
        .skillsection ul li h1{
            padding-top: 10px;
            font-size: 35px;
        }
        .skillsection ul li h2{
            font-size: 18px;
            padding-top: 30px;
            font-family: 'Lucida Sans' ,sans-serif;
        }
        .skillsection ul li:active,
        .skillsection ul li:hover{
            box-shadow:0 0 15px 5px rgba(0,0,0,0.3);
        }
        .skillsection ul li:active,
        .skillsection ul li:hover img{
            filter: invert(100%);
        }
        .skillsection ul li:active,
        .skillsection ul li:hover a{
            color: grey;
            text-decoration: underline;
        }
        .skillsection .title1{
            width: 100%;
            text-align: center;
            justify-content: space-around;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .title1 a{
            text-decoration: none;
            text-align: center;
            color: black;
            font-size: 40px;
        }
        .title1 a:hover,
        .title1 a:active{
            color: grey;
            letter-spacing: 5px;
            transition: all 0.3s ease-in-out;
        }
        .title1:hover a{
            color: grey;
            letter-spacing: 5px;
            transition: all 0.3s ease-in-out;
        }
        /* projects */
        .projectssection{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        .projectssection .title1{
            width: 100%;
            text-align: center;
            justify-content: space-around;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .projectssection ul{
            width: 100%;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around;
        }
        .projectssection ul li{
            text-align: center;
            list-style: none;
            margin: 10px;
            padding: 10px;
            border: 1px solid grey;
        }
        .projectssection ul li a{
            text-decoration: none;
            color: black;
            padding: 10px;
        }
        .projectssection ul li:active,
        .projectssection ul li:hover{
            box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
        }
        /*form*/
        .form-control{
            text-align: center;
            margin: 10px;
            padding: 10px;
            padding-left: 20px;
            font-size: 20px;
        }
        .form-control .heading{
            padding: 10px;
            margin: 10px;
        }
        .bttn{
            margin: 10px;
            padding: 10px;
            width: 250px;
            height: 60px;
            background: white;
            border-radius: 5px;
            font-size: 20px;
            border: 0.2px solid rgba(0,0,0,0.3);
        }
        .bttn:active,
        .bttn:hover{
            background: rgba(0,0,0,0.3);
            color: white;
            border: none;
        }
        /* about me */
        .about{
            text-align: center;
            position: relative;
        }
        .abouttitle{
            font-size: 40px;
            padding: 10px;
            margin: 10px;
        }
        .aboutname{
            font-size: 25px;
            padding-bottom: 20px;
        }
        .aboutname span{
            letter-spacing: 3px;
            font-size: 30px;
        }
        .content{
            line-height: 30px;
            font-size: 18px;
            padding-bottom: 10px;
        }
        .content h4{
            font-family:Georgia, 'Times New Roman', Times, serif;
            padding-bottom:10px ;
        }
        .content h2{
            font-size: 19px;
        }
        .content a{
            color: black;
            text-decoration: none;
            font-size: 20px;
        }
        .content a:hover,
        .content a:active{
            text-decoration: underline;
        }
        .education{
            padding-top: 10px;
        }
        .education ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 10px;
            padding: 10px;
        }
        .education ul li{
            list-style: none;
            width: 250px;
            height: 140px;
            margin: 10px;
            padding: 10px;
            line-height: 25px;
        }
        .social-links ul{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-evenly;
            align-items: center;
            margin: 20px;
            padding: 20px;
        }
        .social-links ul li{
            list-style: none;
            font-size: 45px;
        }
        .social-links ul li a{
            color: black;
        }
        .social-links ul li:active,
        .social-links ul li:hover a{
            color: red;
        }
    </style>
    <br>
    <section class="about" id="about">
        <h1 class="abouttitle">About Me</h1>
        <h3 class="aboutname">Hi..! Myself <span>Trinadh Ravuri.</span></h3>
        <div class="content">   
            <h4>I am having total 7+ years of experience in IT.</h4>
            <h4>Current I am working as an <a href="">Automation Test engineer</a>.</h4>
            <h4><a href="">Automation Testing</a> with <a href="">PYTHON</a> and <a href="">SELENIUM</a></h4>
            <h4>I had worked as an <a href="">Manual Tester</a> and before that started career as Sysytem Adminstrator.</h4>
            <h2>As i am very much interested in <a href="">PYTHON</a>, I have learned and worked on Python development with <a href="">Django</a> and <a href="">REST frameworks</a></h2>
            <h3>I also worked with small desktop applications.</h3>
            <h2>I would like to work in the DEVELOPMENT Environment.</h2>
        </div>
        <div class="education">
            <h2 style="text-decoration: underline;">My Education</h2>
            <ul>
                <li>
                    <h3>10th</h2>
                    <h2>Surya Public School</h2>
                    <h4>Narasaraopet</h4>
                    <h5>Percent : 85%</h5>
                </li>
                <li>
                    <h3>Board of Intermediate</h2>
                    <h2>Sadana college</h2>
                    <h4>Narasaraopet</h4>
                    <h5>Percent : 73.7%</h5>
                </li>
                <li>
                    <h3>Bachelor of Sciences(electronics)</h2>
                    <h2>S S & N college</h2>
                    <h4>Narasaraopet</h4>
                    <h5>Percent : 75%</h5>
                </li>
                <li>
                    <h3>Master in Computer Applications</h2>
                    <h2>Holy Mary Institutions</h2>
                    <h4>hyderabad</h4>
                    <h5>Percent : 65%</h5>
                </li>
            </ul>
        </div>
        <div class="hobbies">

        </div>
        <div class="social-links">
            <ul>
                <li><a href="https://www.facebook.com/trinadh.acharya.5/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/trinadhachary"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ravuri-achari-95b98b1a/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/trinadhravuri"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="skillsection">
        <h1 class="title1" title="click here for ALL SKILLS"><a href="{% url 'allskills' %}">My Skills</a></h1>
        <ul>        
            {% for skill in skills %}
            <li>
                <h1><a href="{% url 'singleskill' skill.id %}">{{skill.skillname|capfirst}}</a></h1>
                <a href="{% url 'singleskill' skill.id %}"><img src="{{ skill.skillimage.url }}" alt=""></a>
                <h2>{{ skill.skillquote }}</h2>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endblock skills%}
    <br>
    {% block projects %}
    <section class="projectssection">
        <h1 class="title1" title="click here for ALL PROJECTS"><a href="{% url 'allprojects'%}">My Projects</a></h1>
        <ul>
            {% for project in projects %}
            <li>
                <h1><a href="{% url 'singleproject' project.id %}">{{project.projectname}}</a></h1>
            </li>
            {% endfor %}
        </ul>
    </section>
    <br>
    {% endblock projects %}
    {% block contact %}
    <section class="form-control">
        <h1 class="heading">Please Message me</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-tag">
            {{field}}
        </div>
        {% endfor %}
        <button type="submit" class="bttn">SEND</button>
    </form>
    </section>
    {% endblock contact %}
    <br>
    <script src="{% static 'styles/intro.js'%}"></script>
{% endblock %}