{% extends 'base.html'%}


{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .singleproject{
        position: relative;
        top: 100px;
        margin: 10px;
        padding: 10px;
    }
    .img-name{
        display: flex;
        flex-direction: row 50%;
        text-align: center;
        justify-content: space-around;
    }
    .img-name img{
        box-shadow: 0 0 16px 6px rgba(0,0,0,0.3);
        width: 700px;
        height: 500px;
    }
    .projectname{
        flex: 0 180px;
        font-size: 50px;
        margin: 10px;
        padding: 10px;
        text-shadow:0 15px 4px rgba(0,0,0,0.3);
        line-height: 90px;
    }

    .projectquote{
        font-size: 50px;
        margin: 20px;
        padding: 20px;
        letter-spacing: 3px;
    }
    .projectteam{
        font-size: 30px;
        font-family:cursive;
        padding: 20px;
        margin: 20px;
    }
    .projectteam span{
        color: crimson;
    }
    .projectdesc{
        line-height: 40px;
        font-size: 30px;
        letter-spacing: 4px;
        line-break: strict;
        margin-bottom: 50px;
    }
    .usedskills{
        text-align: center;
    }
    .usedskills ul{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .usedskills ul li{
        list-style: none;
        padding: 20px 40px 20px 40px;
        margin: 30px;
    }
    .usedskills ul li a{
        text-decoration: none;
        font-size: 40px;
        color: black;
    }
    .usedskills ul li:active,
    .usedskills ul li:hover{
        box-shadow: 0 0 15px 10px rgba(0,0,0,0.3);
    }
    .links{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .links li{
        list-style: none;
        font-size: 30px;
        padding: 50px;
    }
    .links li a{
        color: black;
    }
    .links li a:active,
    .links li a:hover{
        color: red;
    }
</style>
<section class="singleproject">
    <div class="img-name">
    <img src="{{project.projectimage.url}}" alt="">
    <h1 class="projectname">{{project.projectname|upper}}</h1>
    </div>
    <br>
    <div>
        <h2 class="projectquote">{{project.projectquote}}</h2>
        <h2 class="projectteam">Our Team Size : <span>{{project.teamsixze}}</span></h2>
    </div>
    <div class="projectdesc">
        {{project.projectroles}}
    </div>
    <div class="usedskills">
        <h1>Used Skills</h1>
        <ul>
            {% for skill in skills %}
            <li><a href="{% url 'singleskill' skill.id %}">{{skill}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul class="links">
            <li class="font-icon"><a href="https://www.wikipedia.org/"><i class="fa-brands fa-wikipedia-w"></i></a></li>
            <li class="font-icon"><a href="https://www.google.com/"><i class="fa-brands fa-google"></i></a></li>
        </ul>
    </div>
</section>
<br>
{% endblock %}